.header-examples {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  background: lightgray;
  margin-bottom: 25px;
  margin-top: 25px;
}

.scrolling-wrapper{
	overflow-x: auto;
}
.row {
  border: none;
}

.card:hover{
  width:400px;
  background: rgb(213, 241, 241);
  cursor: pointer;
}
#api{
  border:none;
}

#arrowRight{
  cursor: pointer;
}
#arrowLeft{
  cursor: pointer;
}


br {
  margin-top: 20px;
  margin-bottom: 20px;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

.d-flex {
  border: ridge 1px rgb(247, 247, 250);
}

.navbar-nav li:hover .dropdown-menu {
  display: block;
}